.DS_Store
*.class
it.unibz.instasearch/bin/*
instasearch/.settings/*
instasearch/bin/*
instasearch.site/features/*
instasearch.site/plugins/*
instasearch.site/artifacts.jar
instasearch.site/content.jar
